<!DOCTYPE html>
<html>
    <head><style>
        .color{color: red}
        #leftmg{margin-left:100px;
            margin-top: 30px}
        </style></head>

    <title>Registration Form</title>
    <body id="leftmg" style='background-color:rgb(194, 194, 235)'>
        <h1>User Info</h1>
        <form action="/registration", method="post">
        <table>
            <tr>
                <td><label for="username">User Name:</label></td>
                <td><input type="text" id="username" name="username" value="{{u}}"></td>
                <td><label for="username"><span class="color">{{username}}</span></label></td>
            </tr>
            <tr>
            <td><label for="first-name">First Name:</label></td>
            <td><input type="text" id="stuff" name="First" value="{{k}}"></td>
            <td><label for="username"><span class="color">{{first}}</span></label></td>
            </tr>
            <tr>
            <td><label for="last-name">Last Name:</label></td>
            <td><input type="text" id="stuff" name="Last" value="{{l}}"></td>
            <td><label for="username"><span class="color">{{last}}</span></label></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="text" id="stuff" name="email" value="{{e}}"></td>
                <td><label for="username"><span class="color">{{email}}</span></label></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="stuff" name="password1"></td>
                <td><label for="username"><span class="color">{{password}}</span></label></td>
            </tr>
            <tr>
                <td><label for="confirm">Confirm P/W</label></td>
                <td><input type="password" id="stuff" name="password2"></td>
            </tr>
        </table>
            <label for="male">Male</label>
            <input type="radio" name="gender"value="M">
            <label for="female">Female</label>
            <input type="radio" name="gender" value="F">
            <label for="lgbt+">LGBT+</label>
            <input type="radio" name="gender" value="O"><br>
            <input type="submit" value="Submit">
            
        </form>
    </body>
    



</html>